aht_calcs/
aaron_aht_stuff/monthly_AHT/
CERES_data.nc
phd_projects/strm_functions.nc
antarctic_event/CERES_antarctic_data.nc
era5_raw_data/
.ipynb_checkpoints/
__pycache__/
figures/
aht_time_series
antarctic_event/
phd_projects/
aaron_aht_stuff/
AHT_MSE_relationships.ipynb
AHT_work_w_Lily.ipynb
DJF_AHT_trends.ipynb
Dry_moist_aht.ipynb
Eddy_hadley_connections.ipynb
Local_eddy_aht_distributions.ipynb
Local_extremes_trends.ipynb
antarctica_trajectory_data.csv
hadley_cell_strength_values.csv
CMIP6/
era_interim/00/
era_interim/06/
era_interim/12/
era_interim/18/
era_interim/monthly_data/
JRA_aht/raw_data/
JRA_aht/raw_monthly_data/
merra_data/merra_precip/
merra_data/raw_data/

*.nfs*
JRA_aht/rdamspw.txt